{% extends "base.html" %}

{% load static %}

{% block title %}配置文件{% endblock %}

{% block csss %}
<link href="{% static "css/sw_manage.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<div class="row-fluid">

	{% if msgType == 'info' %}
	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{msg}}
	</div>

	{% elif msgType == 'success' %}
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{msg}}
	</div>

	{% elif msgType == 'error' %}
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{msg}}
	</div>

	{% endif %}


	<div class="span8 offset1">
		<p>请选择上传配置文件</p>
	</div>
	<div class="span8 offset2">
		<form enctype="multipart/form-data"  class="form-horizontal" method="post" action="/configfile/">
			<div class="control-group">
				<div class="controls">
					<div class="input-append">
					    {% csrf_token %}
						{{form.file}}
					    <input  id="inputfile" type="text">
					    <button class="btn" type="button">浏览</button>

					</div>
			    </div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-info"><i class="icon-upload icon-white"></i> 上传</button>
				<button type="button" class="btn btn-warning"><i class="icon-download icon-white"></i> 下载</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$('document').ready(function(){
			$('div#pill1').attr('class','accordion-body collapse in');
		});

		$('#id_file').change(function(){
			document.getElementById('inputfile').value=this.value;
		});
	</script>
{% endblock %}
