{% extends "base.html" %}

{% load static %}

{% block title %}MCU配置{% endblock %}

{% block csss %}
<link href="{% static "css/MCU_config.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span8 offset1">
		<p>MCU配置</p>
	</div>
	<div class="span8 offset2">
		<form class="form-horizontal" action="/MCU_config/" role="form" method="post">
			{% csrf_token %}
			{{form}}
			<!-- <div class="control-group">
				<label class="control-label">MCU别名</label>
				<div class="controls">
					<input type="text" id="name" >
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">日期</label>
				<div class="controls">
					<input type="date" id="date" >
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">时间</label>
				<div class="controls">
					<input type="time" id="time" >
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">日志级别</label>
				<div class="controls">
					<select>
						<option>INFO</option>
						<option>DEBUG</option>
					</select>
				</div>
			</div> -->
			<div class="form-actions">
				<button type="submit" class="btn btn-info"><i class="icon-folder-close icon-white"></i> 保存</button>
				<button type="button" class="btn"><i class="icon-repeat"></i> 取消</button>
			</div>
		</form>

	</div>
</div>

{% endblock %}

{% block js %}
	<script type="text/javascript">
		$('document').ready(function(){
			$('div#pill1').attr('class','accordion-body collapse in');
		});
	</script>
{% endblock %}
