{% extends "base.html" %}

{% load static %}

{% block title %}网口配置{% endblock %}

{% block csss %}
<link href="{% static "css/port_config.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span8 offset1">
		<p>网口配置</p>
	</div>
	<div id="content" class="span8 offset2">
		<form class="form-horizontal">
			<p>本地连接1</p>
			<div class="control-group">
				<label class="control-label">IP地址</label>
				<div class="controls">
					<input type="text" id="ip" >
				</div>
		    </div>
		    <div class="control-group">
				<label class="control-label">子网掩码</label>
				<div class="controls">
					<input type="text" id="ip" >
				</div>
		    </div>
		    <div class="control-group">
				<label class="control-label">网关</label>
				<div class="controls">
					<input type="text" id="ip" >
				</div>
		    </div>
		    <p>本地连接2</p>
			<div class="control-group">
				<label class="control-label">IP地址</label>
				<div class="controls">
					<input type="text" id="ip" >
				</div>
		    </div>
		    <div class="control-group">
				<label class="control-label">子网掩码</label>
				<div class="controls">
					<input type="text" id="ip" >
				</div>
		    </div>
		    <div class="control-group">
				<label class="control-label">网关</label>
				<div class="controls">
					<input type="text" id="ip" >
				</div>
		    </div>
		    <div class="form-actions">
				<button type="submit" class="btn btn-info"><i class="icon-folder-close icon-white"></i> 保存</button>
				<button type="button" class="btn"><i class="icon-repeat"></i> 取消</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}

{% block js %}
	<script type="text/javascript">
		$('document').ready(function(){
			$('div#pill1').attr('class','accordion-body collapse in');
		});	
	</script>
{% endblock %}