{% extends "base.html" %}

{% load static %}

{% block title %}会议控制{% endblock %}

{% block csss %}
<link href="{% static "css/meetinglist.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<!-- 页标 -->
<div class="row-fluid">
	<div class="span8 offset1">
		<p>会议控制</p>
	</div>
</div>
<!-- 会议信息显示 -->
<div class="row-fluid">
	<div class="span8 offset2" id="meetinfo">
		<div class="row-fluid">
			<div class="span4">
				<p><strong>会议名称：</strong>{{meetInstance.name}}</p>
				<p><strong>带宽：</strong>{{meetInstance.bandwidth}}</p>
				<p><strong>视频分辨率：</strong>{{meetInstance.capalityname}}</p>
			</div>
			<div class="span4">
				<p><strong>会议编号：</strong>{{meetInstance.meetcode}}</p>
				<p><strong>视频协议：</strong>{{meetInstance.videoProtocol}}</p>
				<p><strong>音频协议：</strong>{{meetInstance.audioProtocol}}</p>
			</div>
			<div class="span4">
				<p><strong>会议备注：</strong>{{meetInstance.remark}}</p>
				<p><strong>视频帧率：</strong>{{meetInstance.videoFrameRate}}</p>
				<p><strong>主会场：</strong>会场{{meetInstance.mainMeetRoom}}</p>

			</div>
		</div>
	</div>
</div>
<!-- 按钮框体 -->
<div class="row-fluid">
	<div class="span8 offset2" id="buttonbox">
		<div class="row-fluid" >
			<div class="span6" id="modelselect">
				<label>模式选择：
				<select class="span5">
						<option value="管理员模式">管理员模式</option>
						<option value="主席模式">主席模式</option>
						<option value="语音激励模式">语音激励模式</option>
				</select>
				</label>
			</div>
			<div class="span6" id="">
				<label>主席选择：
					<select class="span9">
						{% for terminal in terminalList %}
						<option>[会场{{terminal.name}}]{{terminal.terminalIP}}</option>
						{% endfor %}

					</select>
				</label>
			</div>
			<div class="row-fluid" id="modelcontrol">
				<div class="span12" id="">
					<a class="btn btn-info">全部连接</a>
					<a class="btn btn-info">全部断开</a>
				</div>
			</div>
		</div>

	</div>
</div>


<!-- 列表显示 -->
<div class="row-fluid">
	<div class="span8 offset2">
		<table class="table table-condensed">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>会场名称</th>
		      <th>会场IP:</th>
		      <th>连接状态</th>
		      <th>连接</th>
		      <th>断开</th>
		      <th>静音</th>
		      <th>闭麦</th>
		      <th>双流</th>
		      <th>查看</th>
		      <th>广播</th>
		    </tr>
		  </thead>
		  {% for terminal in terminalList %}
		  <tbody>
		    <tr>
		      <td>{{ forloop.counter }}</td>
		      <td>会场{{terminal.name}}</td>
		      <td>{{terminal.terminalIP}}</td>
		      <td class="unconnect" id="connect{{terminal.pk}}"><button></button></td>
		      <td class="callmember1" id="callmember{{terminal.pk}}"><a class="btn" onclick="callmember({{terminal.pk}})"> </a></td>
		      <td class="hangupforbid" id="hangup{{terminal.pk}}"><a class="btn" onclick="hangup({{terminal.pk}})"> </a></td>
		      <td class="silencememberforbid" id="silencemember{{terminal.pk}}"><a class="btn" onclick="silencemember({{terminal.pk}})"> </a></td>
		      <td class="shutupforbid" id="shutup{{terminal.pk}}"><a class="btn" onclick="shutup({{terminal.pk}})" > </a></td>
		      <td class="doubleforbid" id="double{{terminal.pk}}"><a class="btn" onclick="double({{terminal.pk}})" > </a></td>
		      <td class="seeforbid" id="see{{terminal.pk}}"><a class="btn" onclick="see({{terminal.pk}})" > </a></td>
		      <td class="broadcastforbid" id="broadcast{{terminal.pk}}"><a class="btn" onclick="broadcast({{terminal.pk}})" > </a></td>
		    </tr>
		  </tbody>
		  {% endfor %}
		</table>
		<a type="button" class="btn" href="/meetinglist">返回</a>
	</div>
</div>


{% endblock %}

{% block js %}
<script type="text/javascript">
$('document').ready(function(){
	$('div#pill2').attr('class','accordion-body collapse in');
	$("#modelselect option[value='{{meetInstance.operationModel}}']").attr("selected","selected");
	$(function(){
		function getmeetinfo(){
			$.get("/getmeetinfo/"+{{meetInstance.pk}}+"/",function(info){
				var meetinfoJson= jQuery.parseJSON(info);

				for (var i = 0; i < meetinfoJson.AllMemberCount; i++) {
					if (meetinfoJson.MemberState[i]==="0"||meetinfoJson.MemberState[i]==="1") {
						lightup(meetinfoJson.pk[i]);
						// $('#connect'+meetinfoJson.pk[i].toString()).attr('class','connected');
					 //  	$('#callmember'+meetinfoJson.pk[i].toString()).attr('class','callmemberforbid');
					 //  	$('#hangup'+meetinfoJson.pk[i].toString()).attr('class','hangup1');
					 //  	$('#silencemember'+meetinfoJson.pk[i].toString()).attr('class','silencemember0');
					 //  	$('#shutup'+meetinfoJson.pk[i].toString()).attr('class','shutup0');
					 //  	$('#double'+meetinfoJson.pk[i].toString()).attr('class','double0');
					}
					// console.log(meetinfoJson.MemberState[i]);
				}
				

			});
		}
		getmeetinfo();
		setInterval(getmeetinfo,2000);// 2秒状态轮询
	});
});

function lightup(number) {
	$('#connect'+number.toString()).attr('class','connected');
	$('#callmember'+number.toString()).attr('class','callmemberforbid');
	$('#hangup'+number.toString()).attr('class','hangup1');
	$('#silencemember'+number.toString()).attr('class','silencemember0');
	$('#shutup'+number.toString()).attr('class','shutup0');
	$('#double'+number.toString()).attr('class','double0');

}
function callmember(pk){
	console.log(pk);
	if ($('#callmember'+pk.toString()).hasClass('callmember1')) {
		$.get("/callmember/"+ {{meetInstance.pk}}+"/" +pk+"/",function(results){
		  	$('#connect'+pk.toString()).attr('class','connecting');
		  	var parsedJson = jQuery.parseJSON(results);
		    console.log(parsedJson.MemberState);
		    if(parsedJson.MemberState==="0"||parsedJson.MemberState==="1"){
		    	lightup(pk);
		    }
		});
	}
};

function hangup(pk){
	if ($('#hangup'+pk.toString()).hasClass('hangup1')) {
		  console.log(pk);

    $('#connect'+pk.toString()).attr('class','unconnect');
  	$('#callmember'+pk.toString()).attr('class','callmember1');
  	$('#hangup'+pk.toString()).attr('class','hangupforbid');
  	$('#silencemember'+pk.toString()).attr('class','silencememberforbid');
  	$('#shutup'+pk.toString()).attr('class','shutupforbid');
  	$('#double'+pk.toString()).attr('class','doubleforbid');

  $.get("/hangup/"+ {{meetInstance.pk}}+"/"+pk+"/",function(){

  });
	}

};
function silencemember(pk){
  console.log(pk);
  	if($('#silencemember'+pk.toString()).hasClass('silencemember0')){
		$('#silencemember'+pk.toString()).attr('class','silencemember1');
		$.get("/silencemember/"+ {{meetInstance.pk}}+"/"+pk+"/"+1+"/",function(){

		});
	}
	else if($('#silencemember'+pk.toString()).hasClass('silencemember1')){
		$('#silencemember'+pk.toString()).attr('class','silencemember0');
		$.get("/silencemember/"+ {{meetInstance.pk}}+"/"+pk+"/"+0+"/",function(){

		});
	}
};

function shutup(pk){
  console.log(pk);
    if($('#shutup'+pk.toString()).hasClass('shutup0')){
		$('#shutup'+pk.toString()).attr('class','shutup1');
		$.get("/shutup/"+ {{meetInstance.pk}}+"/"+pk+"/"+1+"/",function(){

		});
	}
	else if($('#shutup'+pk.toString()).hasClass('shutup1')){
		$('#shutup'+pk.toString()).attr('class','shutup0');
		$.get("/shutup/"+ {{meetInstance.pk}}+"/"+pk+"/"+0+"/",function(){

		});
	}

};

function double(pk){
  console.log(pk);
    if($('#double'+pk.toString()).hasClass('double0')){
		$('#double'+pk.toString()).attr('class','double1');
		$.get("/double/"+ {{meetInstance.pk}}+"/"+pk+"/"+1+"/",function(){

		});
	}
	else if($('#double'+pk.toString()).hasClass('double1')){
		$('#double'+pk.toString()).attr('class','double0');
		$.get("/double/"+ {{meetInstance.pk}}+"/"+pk+"/"+0+"/",function(){

		});
	}

};

function see(pk){
  console.log(pk);

		$.get("/see/"+ {{meetInstance.pk}}+"/"+pk+"/"+1+"/",function(){

		
	});


};

function broadcast(pk){
  console.log(pk);

		$.get("/double/"+ {{meetInstance.pk}}+"/"+pk+"/"+1+"/",function(){

		});
	

	

};
</script>
{% endblock %}
