{% extends "base.html" %}

{% load static %}

{% block title %}会议列表{% endblock %}

{% block csss %}
<link href="{% static "css/meetinglist.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span8 offset1">
		<p>会议列表</p>
	</div>
	<div class="span8 offset2">
        {% if msgType == 'info' %}
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		  	{{msg}}
		</div>

		{% elif msgType == 'success' %}
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		  	{{msg}}
		</div>

		{% elif msgType == 'error' %}
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		  	{{msg}}
		</div>

		{% endif %}

			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>会议名称</th>
						<th>会议编号</th>
						<th>是否存在于mcu</th>
			            <th>会议备注</th>
			            <th>会议控制</th>
			            <th>编辑</th>
			            <th>删除</th>
					</tr>
				</thead>
			{% for meeting in meetinglist %}
				<tbody>
					<tr>
						<td>{{ forloop.counter }}</td>
					    <td>{{meeting.name}}</td>
					    <td>{{meeting.meetcode}}</td>
						<td>{{meeting.activeInMcu}}</td>
			            <td>{{meeting.remark}}</td>
			            <td class="control" ><a class="btn" href="/meetDetails/{{meeting.pk}}"> </a></td>
			            <td class="edit" ><a class="btn" > </a></td>
			            <td class="delete"><a class="btn" href="/delete_meeting/{{meeting.pk}}/"> </a></td>
					</tr>
				</tbody>
			{% endfor %}
			</table>
			<a type="submit" class="btn btn-info" value="上传文件" href="/creat_meeting"><i class="icon-plus-sign icon-white"></i> 添加会议</a>
	</div>
</div>

{% endblock %}

{% block js %}
	<script type="text/javascript">
		$('document').ready(function(){
			$('div#pill2').attr('class','accordion-body collapse in');
		});
	</script>
{% endblock %}
