{% extends "base.html" %}

{% load static %}

{% block title %}终端列表{% endblock %}

{% block csss %}
<link href="{% static "css/terminallist.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span8 offset1">
		<p>终端列表</p>
	</div>
	<div class="span8 offset2">

			{% if msgType == 'info' %}

			<a style="color:blue">{{msg}}</a>

			{% elif msgType == 'success' %}

			<a style="color:green">{{msg}}</a>

			{% elif msgType == 'error' %}

			<a style="color:red">{{msg}}</a>

			{% endif %}

			<br>
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>终端名称</th>
						<th>终端IP:</th>
					</tr>
				</thead>
			{% for terminal in terminallist %}
				<tbody>
					<tr>
						<td></td>
					    <td>{{terminal.name}}</td>
					    <td>{{terminal.terminalIP}}</td>
					</tr>
				</tbody>
			{% endfor %}
			</table>
			<a type="text" class="btn btn-info" value="上传文件" href="/addterminal"><i class="icon-plus-sign icon-white"></i> 添加终端</a>
	</div>
</div>

{% endblock %}

{% block js %}
	<script type="text/javascript">
		$('document').ready(function(){
			$('div#pill2').attr('class','accordion-body collapse in');
		});	
	</script>
{% endblock %}