{% extends "base.html" %}

{% load static %}

{% block title %}终端列表{% endblock %}

{% block csss %}
<link href="{% static "css/terminallist.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span8 offset1">
		<p>终端列表</p>
	</div>
	<div class="span8 offset2">

		{% if msgType == 'info' %}
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		  	{{msg}}
		</div>

		{% elif msgType == 'success' %}
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		  	{{msg}}
		</div>

		{% elif msgType == 'error' %}
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		  	{{msg}}
		</div>

		{% endif %}		

			
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>#</th>
					<th>终端名称</th>
					<th>终端IP:</th>
					<th>编辑</th>
					<th>删除</th>
				</tr>
			</thead>
		{% for terminal in terminallist %}
			<tbody>
				<tr>
					<td>{{ forloop.counter }}</td>
				    <td>{{terminal.name}}</td>
				    <td>{{terminal.terminalIP}}</td>
				    <td class="edit"><a class="btn" > </a></td>
				    <td class="delete"><a class="btn"> </a></td>
				</tr>
			</tbody>
		{% endfor %}
		</table>
		<a type="submit" class="btn btn-info" value="上传文件" href="/addterminal"><i class="icon-plus-sign icon-white"></i> 添加终端</a>

	</div>
</div>

{% endblock %}

{% block js %}
	<script type="text/javascript">
		$('document').ready(function(){
			$('div#pill2').attr('class','accordion-body collapse in');
		});	
	</script>
{% endblock %}