.container-fluid{
	background-color: rgb(51,51,51);
}

.span1{
	height: 100px;
	background:url(../images/logo1.png) left  no-repeat;

}

.span11{
	height: 100px;
	background:url(../images/head.png) center center no-repeat;

}


div.span9{
	border-radius: 30px;
	height: 960px;
	background-color: rgb(68,68,68);
	margin-bottom: 60px;
}
ul#list1,#list2,#list3,#list4{
	margin: 0px;
	font-size: 15px;
}

ul.nav.nav-pills.nav-stacked{
	float: right;
	font-size: 18px;
}

li{
	margin: 10px auto 10px auto;
	text-align: center;
}

a#nav,#nav1,#nav2,#nav3,#nav4,#nav5{
	color:rgb(255,204,0);
}

a#nav:hover,#nav1:hover,#nav2:hover,#nav3:hover,#nav4:hover,#nav5:hover{
	background-color: black;
	color: rgb(255,153,0);
}

a#nav:focus,#nav1:focus,#nav2:focus,#nav3:focus,#nav4:focus,#nav5:focus{
	background-color: rgb(255,204,0);
	color: black;
}

.nav-pills.nav-stacked > li > a{
	background-color: transparent;
	color: #dadada;
}

.nav-pills.nav-stacked > li > a:hover{
	background-color: transparent;
	color: rgb(255,153,0);
}

.nav-pills.nav-stacked > li > a:focus{
	background-color: transparent;
	outline:none;
	color: rgb(255,153,0);
}

ul.nav-list{
	padding: 0px;
}

ul.nav-list > li.divider{
	background-color: transparent;
	border-color: red;
}
