.span8{
	color: #dadada;
	font-size: 15px;
	margin-top: 50px; 
}

span.tips{
	color: red;
}

thead{
	color: rgb(255,204,0);
}

div.form-actions{
	background-color: rgb(68,68,68);
	border: 0px;
}

a#nav2,a#nav2:focus,a#nav2:active,a#nav2:visited{
	background-color: rgb(255,204,0);
	color: black;
}
a#meetinglist,a#meetinglist:focus,a#meetinglist:active,a#meetinglist:visited{
	background-color: transparent;
	color: rgb(255,153,0)
}

td.delete > a,td.edit> a ,td.control> a,td.callmember>a{
	padding: 0px;
    border: 0px;
	height: 20px;
	width: 20px;
}

td.delete > a:hover,td.edit> a:hover ,td.control> a:hover,
td.delete > a:focus,td.edit> a:focus ,td.control> a:focus{
	background-color: transparent;
	background-position:0px;
}


td.delete > a{
	background: url(../images/delete.png) center no-repeat;
}

td.edit> a{
	background: url(../images/edit.png) center no-repeat;
}

td.control> a{
	background: url(../images/control.png) center no-repeat;
}

td.callmember>a{
	background: url(../images/call.png) center no-repeat;

}