.span8{
	color: #dadada;
	font-size: 15px;
	margin-top: 50px; 
}

span.tips{
	color: red;
}

thead{
	color: rgb(255,204,0);
}

div.form-actions{
	background-color: rgb(68,68,68);
	border: 0px;
}

a#nav2,a#nav2:focus,a#nav2:active,a#nav2:visited{
	background-color: rgb(255,204,0);
	color: black;
}
a#meetinglist,a#meetinglist:focus,a#meetinglist:active,a#meetinglist:visited{
	background-color: transparent;
	color: rgb(255,153,0)
}

a#delete,a#edit,a#control{
	padding: 0px;
    border: 0px;
	height: 20px;
	width: 20px;
}

a#delete{
	background: url(../images/delete.png) center no-repeat;
}

a#edit{
	background: url(../images/edit.png) center no-repeat;
}

a#control{
	background: url(../images/control.png) center no-repeat;
}