{% extends "base.html" %}

{% load static %}

{% block title %}创建会议{% endblock %}

{% block csss %}
<link href="{% static "css/meetinglist.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span8 offset1">
		<p>创建会议</p>
	</div>
	<div class="span8 offset2">
		<a type="submit" class="btn" value="创建会议" href="/meetinglist">返回</a>

	</div>
</div>

{% endblock %}

{% block js %}
	<script type="text/javascript">
		$('document').ready(function(){
			$('div#pill2').attr('class','accordion-body collapse in');
		});	
	</script>
{% endblock %}