{% extends "base.html" %}

{% load static %}

{% block title %}会议列表{% endblock %}

{% block csss %}
<link href="{% static "css/meetinglist.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span8 offset1">
		<p>会议列表</p>
	</div>
	<div class="span8 offset2">
		<a type="submit" class="btn btn-info" value="创建会议" href="/creat_meeting"><i class="icon-plus-sign icon-white"></i> 创建会议</a>

	</div>
</div>

{% endblock %}

{% block js %}
	<script type="text/javascript">
		$('document').ready(function(){
			$('div#pill2').attr('class','accordion-body collapse in');
		});	
	</script>
{% endblock %}