{% extends "base.html" %}

{% load static %}

{% block title %}修改密码{% endblock %}

{% block csss %}
<link href="{% static "css/password.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span8 offset1">
		<p>GK配置</p>
	</div>
	<div class="span8 offset2">

		<form class="form-horizontal" action="" method="post" id="password_change_form">
		  <fieldset>
		    {% csrf_token %}
		    {{form.as_p}}
		    {{form.as_p}}

		  </fieldset>
		    <input class="btn btn-info" type="submit" value="保存修改" />
		</form>
	</div>
</div>

{% endblock %}

{% block js %}
	<script type="text/javascript">
		$('document').ready(function(){
			$('div#pill1').attr('class','accordion-body collapse in');
		});
	</script>
{% endblock %}
