{% extends "base.html" %}

{% load static %}

{% block title %}修改密码{% endblock %}

{% block csss %}
    <link href="{% static "css/password.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span8 offset1">
            <p>修改密码</p>
        </div>
        <div class="span8 offset2">

            <form class="form-horizontal" action="" method="post" id="password_change_form">
                <fieldset>
                    {% csrf_token %}


                    <div class="control-group">
                        <label class="control-label">{{ form.old_password.label_tag }}</label>
                        <div class="controls">
                            {{ form.old_password }}
                            <span>{{ form.old_password.errors.0 }}</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{ form.new_password1.label_tag }}</label>
                        <div class="controls">
                            {{ form.new_password1 }}
                            <span>{{ form.new_password1.errors.0 }}</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{ form.new_password2.label_tag }}</label>
                        <div class="controls">
                            {{ form.new_password2 }}
                            <span>{{ form.new_password2.errors.0 }}</span>
                        </div>
                    </div>


                </fieldset>
                <div class="form-actions">
                    <input class="btn btn-info" type="submit" value="保存修改"/>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('document').ready(function () {
            $('div#pill1').attr('class', 'accordion-body collapse in');
        });
    </script>
{% endblock %}
