{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}修改密码{% endblock %}

{% block csss %}
    <link href="{% static "css/password.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}


    12345

    <h2>{% trans "Your password has been changed" %}.</h2>


    <p>{% trans "From now on you can use your new password to signin" %}.</p>



{% endblock %}

{% block js %}
    <script type="text/javascript">
        $('document').ready(function () {
            $('div#pill1').attr('class', 'accordion-body collapse in');
        });
    </script>
{% endblock %}
