{% extends "base.html" %}

{% load static %}

{% block title %}修改密码{% endblock %}

{% block csss %}
<link href="{% static "css/configfile.css" %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}

<form action="" method="post" id="password_change_form">
  <fieldset>
    {% csrf_token %}
    {{form.as_p}}
  </fieldset>
    <input type="submit" value="保存修改" />
</form>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$('document').ready(function(){
			$('div#pill1').attr('class','accordion-body collapse in');
		});
	</script>
{% endblock %}
